coreapi==2.3.3
google-auth==2.41.1
Django==4.2.6
django-cors-headers==4.3.0
djangorestframework==3.14.0
psycopg2-binary==2.9.11
pillow==12.0.0
djangorestframework_simplejwt==5.5.1
Faker==19.10.0
django-environ==0.12.0