<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/rexman10/VacationPackage/main/iconos_correo/correo.css">
    <title>Email Template</title>
  </head>
  <header style="background-color: rgb(43, 43, 43);">
    <div class="topImg" style=" background-color: white;
                                display: flex;
                                justify-content: center;"
    >
      <img src="https://raw.githubusercontent.com/rexman10/VacationPackage/main/iconos_correo/icon01.png" alt="logo migo">
    </div>
    <div class="titulo" style=" color: white;
                                background-color: rgb(43, 43, 43);
                                display: flex;
                                justify-content: center;"
    >
      <table>
        <tr>
          <td style="text-align: center;">
            <img src="https://raw.githubusercontent.com/rexman10/VacationPackage/main/iconos_correo/icon02.png" alt="candado">
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            <h2> Necesitas recuperar tu contraseña? </h2>
          </td>
        </tr>
      </table>
    </div>
  </header>
  <body>
    <div class="content" style="background-color: rgb(234, 226, 226);
                                padding-top: 3%;
                                padding-bottom: 2%;
                                padding-left: 7%;
                                padding-right: 7%;"
    >
      <p>
        Hola, {{ name }} <br> <br> <br>

        Le hemos enviado este correo electronico
        en respuesta a su solicitud para restablecer
        su contraseña. <br> <br> <br>
        Para restablecer su contraseña, Usa el siguiente
        código único en la aplicación.
      </p>
      <table>
        <tr>
          <td>
            <h3 style="background-color: rgb(223, 174, 14); color: white;"> {{ code }} </h3>
          </td>
        </tr>
      </table>
      <p class="ignorar" style="font-style: italic;">Si no solicitaste restablecer
        tu contraseña puedes ignorar este correo</p>
    </div>
    <div class="footer" style=" display: flex;
                                background-color: yellow;
                                justify-content: space-evenly;
                                font-style: italic;"
    >
      <p>Descarga nuestra App: </p>
      <img src="https://raw.githubusercontent.com/rexman10/VacationPackage/main/iconos_correo/tiendas.png" style="width: auto; height: 50px;" alt="tiendas">
    </div>
    <div class="content"></div>
  </body>
</html>
